.cards {
	display: flex;
	flex-wrap: wrap;
}

.card {
	background-color: rgb(245,245,245);
 	align-items: center;
  	justify-content: space-between;
	padding: 10px;
	flex-basis: 270px;
	flex-grow: 1;
	margin: 5px;
	text-align: center;
}

.card img {
	width: 300px;
	border-radius: 4px;
}

.card p {
	flex-grow: 1;
	padding: center;
	font-size: 12px;
}

.card-white {
	background: #f7f7f7;
	color: grey;
	text-align: center;
	font-size: 15px;
	margin: 5px auto;
	padding: 5px;
	border-radius: 28px;
	border: 0.1px solid black;
	margin-bottom: 15px;
}

.card-contact {
	display: flex;
	flex-wrap: wrap;
}

.card-contact {
	background-color: white;
 	align-items: center;
  	justify-content: space-between;
	padding: 15px;
	flex-basis: 270px;
	flex-grow: 1;
	margin: 5px;
	text-align: center;
	display: flex;
  	align-items: center;
  	justify-content: center;
  	border-radius: 28px;
	border: 0.1px solid black;
}

.card-contact img {
	width: 150px;
	border-radius: 4px;
}

.card-contact p {
	flex-grow: 1;
	padding: center;
	font-size: 12px;
}

.card-desc {
	background-color: rgb(245,245,245);
 	align-items: center;
  	justify-content: space-between;
	padding: 10px;
	flex-basis: 270px;
	flex-grow: 1;
	margin: 5px;
	text-align: center;
	border-radius: 28px;
	border: 0.1px solid black;
}

.card-desc img {
	width: 500px;
	border-radius: 4px;
	float: left;
}

.card-desc p {
	flex-grow: 1;
	padding: center;
	font-size: 12px;
	float: right
}