.input-white {
	background: #f7f7f7;
	color: grey;
	font-family: 'Karla', serif;
	text-align: center;
	font-size: 15px;
	margin: 5px auto;
	padding: 5px;
	border-radius: 28px;
	border: 0.1px solid black;
	margin-bottom: 15px;
	width: 300px;
	margin: 10px auto;
	border: none;
}